@model OffRoad.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12">
            <div id="image-home">
                <img class="img-responsive" src="~/Content/Image/banniere-article.png" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <span id="titre">TITRE DE L'ARTICLE</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="info_article">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 12 avril 2016

                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Philou

                <span class=" glyphicon glyphicon-comment" aria-hidden="true"></span> 22
            </div>
        </div>
        <div class="row">
            <img src="~/Content/Image/multi-article.png" class="img-responsive img-rounded" alt="Responsive image">
        </div>
        <div class="row">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit auctor rhoncus. Etiam semper risus sit amet ipsum gravida, ut sodales turpis scelerisque. Phasellus ligula magna, ornare id scelerisque nec, rutrum ut magna. Vivamus venenatis mi sed mi rhoncus sagittis. Proin hendrerit, leo tincidunt facilisis egestas, eros est convallis dui, eu tempor nunc eros eu eros. Phasellus suscipit varius enim non ultricies. Suspendisse potenti. Ut cursus at purus sit amet aliquet. Integer posuere sit amet quam eu sagittis. Phasellus rutrum, felis vitae lobortis luctus, augue ex mattis eros, id accumsan dui risus eu nibh. Mauris molestie, leo vel iaculis accumsan, orci dui finibus ante, et cursus sem nibh eu justo. Etiam eleifend dolor in lorem vulputate fermentum. Donec fermentum dignissim ligula vitae fermentum. Aliquam scelerisque faucibus lectus et sagittis. In rhoncus arcu viverra sapien fringilla, vitae lacinia metus imperdiet.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit auctor rhoncus. Etiam semper risus sit amet ipsum gravida, ut sodales turpis scelerisque. Phasellus ligula magna, ornare id scelerisque nec, rutrum ut magna. Vivamus venenatis mi sed mi rhoncus sagittis. Proin hendrerit, leo tincidunt facilisis egestas, eros est convallis dui, eu tempor nunc eros eu eros. Phasellus suscipit varius enim non ultricies. Suspendisse potenti. Ut cursus at purus sit amet aliquet. Integer posuere sit amet quam eu sagittis. Phasellus rutrum, felis vitae lobortis luctus, augue ex mattis eros, id accumsan dui risus eu nibh. Mauris molestie, leo vel iaculis accumsan, orci dui finibus ante, et cursus sem nibh eu justo. Etiam eleifend dolor in lorem vulputate fermentum. Donec fermentum dignissim ligula vitae fermentum. Aliquam scelerisque faucibus lectus et sagittis. In rhoncus arcu viverra sapien fringilla, vitae lacinia metus imperdiet.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit auctor rhoncus. Etiam semper risus sit amet ipsum gravida, ut sodales turpis scelerisque. Phasellus ligula magna, ornare id scelerisque nec, rutrum ut magna. Vivamus venenatis mi sed mi rhoncus sagittis. Proin hendrerit, leo tincidunt facilisis egestas, eros est convallis dui, eu tempor nunc eros eu eros. Phasellus suscipit varius enim non ultricies. Suspendisse potenti. Ut cursus at purus sit amet aliquet. Integer posuere sit amet quam eu sagittis. Phasellus rutrum, felis vitae lobortis luctus, augue ex mattis eros, id accumsan dui risus eu nibh. Mauris molestie, leo vel iaculis accumsan, orci dui finibus ante, et cursus sem nibh eu justo. Etiam eleifend dolor in lorem vulputate fermentum. Donec fermentum dignissim ligula vitae fermentum. Aliquam scelerisque faucibus lectus et sagittis. In rhoncus arcu viverra sapien fringilla, vitae lacinia metus imperdiet.
            </p>
        </div>
        <hr />
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-md-offset-2" id="art_commentaire">
        <div class="col-md-12" id="event_commentaire">
            <div class="row">
                <span class="titre">Commentaire </span>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <span class="user">aqw</span>

                        <span class="date">20 avril 2016 21:27</span>
                    </div>
                </div>
                <div class="row text_comm">
                    <div class="col-md-12">
                        <span>
                            <p>
                                aezaeazeaz
                            </p>
                        </span>
                    </div>
                </div>
                <hr />
            </div>

            <div class="row">
                <span class="titre">Poster un commentaire </span>
            </div>
            <div class="row">
@using (Html.BeginForm("CreateComment", "Articles", new { idArticle = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <textarea name="Text" id="textarea" rows="6" class="form-control">Message </textarea>
                <input type="submit" value="Créer" class="btn btn-success col-md-12" />
}
            </div>
        </div>
    </div>
</div>