
@{
    ViewBag.Title = "Password";
}

<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12">
            <img src="~/Content/Image/header_connexion.png" class="img-responsive" />
        </div>
    </div>
</div>

<div class="container body-content">
    @using (Html.BeginForm())
    {
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <h4>Réinitialisation du mot de passe</h4>
            <span class="text-danger">@ViewBag.Message</span>
            <input type="email" name="mail" id="mail" class="form-control" placeholder="Email du compte"/>
            <input type="submit" value="Générer mot de passe" class="btn btn-success" id="btn_connexion"></div>
    </div>
    }
</div>
