@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Une Erreur est survenu !</h3>
<h3>Vous essayez peut-être d'accéder à une page qui n'existe pas ou sur une page sur laquelle vous n'avez pas le droit de lecture</h3>



