@{
    ViewBag.Title = "Desactive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/BackOffice/DesactiveAccountUser" enctype="multipart/form-data" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
        <tr>
        <tr>
            <td>@Model.LastName</td>
            <td> @Model.FirstName</td>
            <td>@Model.Email</td>
        </tr>
    </table>
    <br /><br />
    <div class="form-group">
        <a id="button-color" class="btn btn-default" href="/BackOffice/Index">Précédent</a>
        <button class="btn btn-primary btn-default" type="submit">Supprimer</button>
    </div>
</form>